# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug symbols
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains folders
.idea/

# MS folders
.vs/
.vscode/

# Some FASTBuild files we don't need
*.fdb

# Compiled binaries
bin/

# Vendor folder uses submodules on Github
vendor/

# CMake files (from CLion)
# There are multiple options here because the two
# computers I work with have different settings
cmake-build-debug/
build/
build_dbg/